@import "../../variables"
$imageViewWidth: 100px

.bookView
  padding-top: $MAIN_NAV_HEIGHT
  .infoView
    background-color: $COLOR_WHITE
    margin-bottom: 15px
  .imageView
    float: left
    width: $imageViewWidth
  .contentView
    margin-left: $imageViewWidth + 15px
    h4
      margin: 0
      padding: 0
      line-height: 24px
    .info
      color: $COLOR_BLUE
      margin: 5px 0
    .wordCount
      margin: 5px 0
      color: $COLOR_GRAY
  .briefView
    margin: 0 
    border-top: $GRAY_BORDER
    line-height: 1.5em
    padding: 15px
  .latestChapter
    border-top: $GRAY_BORDER
    line-height: 50px
    padding: 0 15px
    font-size: 14px
    span, i
      color: $COLOR_GRAY
      margin: 0 2px
.functionView
  position: fixed 
  background-color: $COLOR_WHITE
  left: 0
  right: 0
  bottom: 0
  a
    display: inline-block
    height: 100%
    width: 30%
    text-decoration: none
    color: $COLOR_BLUE
    text-align: center
    &.favAdded
      color: $COLOR_DARK_GRAY
    &.read
      width: 40%
      background-color: $COLOR_BLUE
      color: $COLOR_WHITE
    i
      display: block
      font-size: 20px
      margin: 4px auto 2px auto
    span
      font-size: 12px
      line-height: 20px

.chaptersView
  padding-top: $MAIN_NAV_HEIGHT
  .chapterGroup
    background-color: $COLOR_WHITE
    &.even
      background-color: $COLOR_DARY_WHITE
    i
      transform: rotate(270deg)
    &.active
      border-bottom: $GRAY_BORDER
      min-height: 30px
      color: $COLOR_BLUE
      i
        color: $COLOR_BLUE
        transform: rotate(90deg)
  .chapter
    &:nth-child(even)
      background-color: $COLOR_DARY_WHITE

.settingHeader, .settingFooter
  background-color: rgba($COLOR_DARY_WHITE, 0.9)
  color: $COLOR_BLUE
  z-index: 99
  padding: 0

.settingHeader
  height: $MAIN_HEADER_HEIGHT
  box-sizing: content-box

.settingFooter
  position: fixed
  left: 0
  bottom: 0
  right: 0
  .fontSize
    line-height: 48px
    span
      text-align: center
      display: inline-block
      width: 30%
      &:nth-child(2)
        width: 40%
  .theme
    border-top: $GRAY_BORDER
    margin: 0 5px 
    padding-top: 5px
    div 
      display: inline-block
      width: 25%
    span
      display: block
      margin: 5px
      height: 40px
      line-height: 40px
      text-align: center
      i
        font-size: 32px
        visibility: hidden
        &.active
          visibility: visible

.showReload
  z-index: 99
  width: 150px
  margin-left: -75px
  margin-top: -25px

.headerBack
  display: inline-block
  width: 50px
  text-align: center
  height: $MAIN_HEADER_HEIGHT
  line-height: $MAIN_HEADER_HEIGHT