@import "../../variables"
$functionHeight: 50px
$imageViewWidth: 100px

.bookView
  padding-top: $MAIN_NAV_HEIGHT
  padding-bottom: $functionHeight
  .infoView
    background-color: $COLOR_WHITE
    margin-bottom: 15px
  .imageView
    float: left
    width: $imageViewWidth
  .contentView
    margin-left: $imageViewWidth + 15px
    h4
      margin: 0
      padding: 0
      line-height: 24px
    .info
      color: $COLOR_BLUE
      margin: 5px 0
    .wordCount
      margin: 5px 0
      color: $COLOR_GRAY
  .briefView
    margin: 0 
    border-top: $GRAY_BORDER
    line-height: 1.5em
    padding: 15px
  .latestChapter
    border-top: $GRAY_BORDER
    line-height: 50px
    padding: 0 15px
    span, i
      color: $COLOR_GRAY
      margin: 0 2px
.functionView
  position: fixed 
  height: $functionHeight 
  line-height: $functionHeight
  background-color: $COLOR_WHITE
  left: 0
  right: 0
  bottom: 0
  a
    display: inline-block
    height: 100%
    width: 30%
    text-decoration: none
    color: $COLOR_BLUE
    text-align: center
    &.read
      width: 40%
      background-color: $COLOR_BLUE
      color: $COLOR_WHITE

.chaptersView
  padding-top: $MAIN_NAV_HEIGHT
  .chapter
    min-height: 40px
    &:nth-child(even)
      background-color: $COLOR_DARY_WHITE

.settingHeader
  background-color: rgba($COLOR_DARY_WHITE, 0.9)
  color: $COLOR_BLUE
  height: $MAIN_HEADER_HEIGHT
  z-index: 99
