@import "../../variables"
.homePage
  padding-bottom: $MAIN_NAV_HEIGHT + 1

.tabBar
  background-color: #fff
  border-top: $GRAY_BORDER
  color: $COLOR_DARK_GRAY
  .tabItem
    padding: 5px 0 3px 0 
    font-size: 12px
    line-height: 18px
    .iconfont
      font-size: 20px
      margin: 4px 0 6px 0

.hotView
  .hotList
    margin: 0
    padding: 0
    list-style: none
  .bookViewWrapper
    padding: 10px
    background-color: $COLOR_WHITE
    margin-bottom: 15px
    &:last-child
      margin-bottom: 2px

.booksView
  background-color: $COLOR_WHITE
  $categoryListWidth: 80px
  .categoryList
    margin: 0
    padding: 0
    list-style: none
    width: $categoryListWidth
    background-color: $COLOR_DARY_WHITE
    float: left
    li
      line-height: 40px
      text-align: center
      border-left: 3px solid $COLOR_DARY_WHITE
      &.active
        border-color: $COLOR_BLUE
        color: $COLOR_BLUE
        background-color: $COLOR_WHITE
  .books
    margin-left: $categoryListWidth
    background-color: $COLOR_DARY_WHITE
    ul
      margin: 0
      padding: 0
      list-style: none


.hotView, .booksView
  .bookViewWrapper
    padding: 10px
    background-color: $COLOR_WHITE
    margin-top: 15px
    &:first-child
      margin-top: 0px