@import "./variables"
*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

.clearfix:before, .clearfix:after
  display: table
  content: " "
.clearfix:after
  clear: both

.mtop10
  margin-top: 10px
.mbottom10
  margin-bottom: 10px
.tac
  text-align: center
.fleft
  float: left
.ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
.font16
  font-size: 16px
.font14
  font-size: 14px

.fullHeight
  height: 100%
  overflow: hidden
.fullHeightScroll
  height: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
.pullRight
  float: right

body, html
  margin: 0
  font-family: "Open Sans", "Helvetica Neue", Arial, Verdana, sans-serif
  height: 100%
  overflow: hidden
  color: $COLOR_LIGHT_BLACK

#app
  height: 100%
  overflow: hidden
  position: relative

.homePageWrapper, .childrenPageWrapper
  background-color: $COLOR_DARY_WHITE
  position: absolute 
  left: 0
  top: 0
  right: 0
  height: 100%